In [78]:
import pandas as pd
import requests

1. Using the code from the lesson as a guide and the REST API from https://python.zach.lol/api/v1/items as we did in the lesson, create a dataframe named items that has all of the data for items.

In [22]:
def get_items(cached=False):
    if cached == False:
        items_list = []
        url = "https://python.zach.lol/api/v1/items"
        response = requests.get(url)
        data = response.json()
        n = data['payload']['max_page']
        
        for i in range(1, n+1):
            new_url = url + '?page=' + str(i)
            response = requests.get(new_url)
            data = response.json()
            page_items = data['payload']['items']
            items_list += page_items
            
        items = pd.DataFrame(items_list)
        items.to_csv('items.csv')
            
    else:
        items = pd.read_csv('items.csv', index_col=0)
    
    return items

In [23]:
items = pd.read_csv('items.csv')
items.sample()

,Unnamed: 0,item_brand,item_id,item_name,item_price,item_upc12,item_upc14
30,30,Zhenas Gypsy Tea,31,Zhenas Gypsy Tea Herbal Red Tea Sachets Fire L...,4.21,652790100226,652790100226

In [24]:
# grabe the base of the site
#base_url = "https://python.zach.lol/api/v1/items"

In [25]:
#make the response things
#stores_response = requests.get(base_url + '/stores')
#items_response = requests.get(base_url + '/items')

In [26]:
# get the first page
#items_payload = items_response.json()['payload']
#response = requests.get(base_url)
#first_page_of_items = items_payload['items']

In [27]:
# get the second page
#endpoint_for_second_page = items_payload['next_page']
#page2_items_response = requests.get('https://python.zach.lol' + endpoint_for_second_page)
#items_page2_payload = page2_items_response.json()['payload']
#second_page_of_items = items_page2_payload['items']

In [28]:
# get the third page
#endpoint_for_third_page = items_page2_payload['next_page']
#page3_items_response = requests.get('https://python.zach.lol' + endpoint_for_third_page)
#items_page3_payload = page3_items_response.json()['payload']
#third_page_of_items = items_page3_payload['items']

In [29]:
# make the dataframe
#items = first_page_of_items + second_page_of_items + third_page_of_items
#items

2. Do the same thing, but for stores (https://python.zach.lol/api/v1/stores)

In [40]:
def get_stores(cached=False):
    if cached == False:
        stores_list = []
        url = "https://python.zach.lol/api/v1/stores"
        response = requests.get(url)
        data = response.json()
        n = data['payload']['max_page']
        
        for i in range(1, n+1):
            new_url = url + '?page=' + str(i)
            response = requests.get(new_url)
            data = response.json()
            page_stores = data['payload']['stores']
            stores_list += page_stores
            
        stores = pd.DataFrame(stores_list)
        stores.to_csv('stores.csv')
            
    else:
        stores = pd.read_csv('stores.csv', index_col=0)
    
    return stores

In [42]:
stores = pd.read_csv('stores.csv')
stores.sample()

,Unnamed: 0,store_address,store_city,store_id,store_state,store_zipcode
2,2,2118 Fredericksburg Rdj,San Antonio,3,TX,78201

In [41]:
#stores = get_stores(cached=False)

In [33]:
# grabe the base of the site
#base_url = "https://python.zach.lol/api/v1/stores"

In [34]:
#stores_response = requests.get(base_url)
#stores_response.json()
# max page of 1

In [35]:
# create the page
#stores_payload = stores_response.json()['payload']

In [36]:
# get the first page
#response = requests.get(base_url)
#first_page_of_stores = stores_payload['stores']

In [37]:
# make the dataframe
#stores = first_page_of_stores
#stores

3. Extract the data for sales (https://python.zach.lol/api/v1/sales). There are a lot of pages of data here, so your code will need to be a little more complex. Your code should continue fetching data from the next page until all of the data is extracted.

In [ ]:
# grabe the base of the site
# base_url = "https://python.zach.lol/api/v1/sales"

In [43]:
def get_sales(cached=False):
    if cached == False:
        sales_list = []
        url = "https://python.zach.lol/api/v1/sales"
        response = requests.get(url)
        data = response.json()
        n = data['payload']['max_page']
        
        for i in range(1, n+1):
            new_url = url + '?page=' + str(i)
            response = requests.get(new_url)
            data = response.json()
            page_sales = data['payload']['sales']
            sales_list += page_sales
            
        sales = pd.DataFrame(sales_list)
        sales.to_csv('sales.csv')
            
    else:
        sales = pd.read_csv('sales.csv', index_col=0)
    
    return sales

In [44]:
#sales = get_sales(cached=False)

In [45]:
sales = pd.read_csv('sales.csv')
sales.sample()

,Unnamed: 0,item,sale_amount,sale_date,sale_id,store
725568,725568,40,36.0,"Thu, 09 Oct 2014 00:00:00 GMT",725569,8

4. Save the data in your files to local csv files so that it will be faster to access in the future.

# ✅

5. Combine the data from your three separate dataframes into one large dataframe.

In [50]:
def complete_data(cached=False):
    '''
    takes in get items, sales, and stores
    selects columns
    merges all 3 together
    creates csv called complete_data
    '''
    if cached == False:
        #take in get_items function and turns it into df
        items = get_items(cached=True)
        #take in get_stores function and turns it into df
        stores = get_stores(cached=True)
        #take in get_sales function and turns it into df
        sales = get_sales(cached=True)
        # selct columns
        sales.columns = ['item_id', 'sale_amount', 'sale_date', 'sale_id', 'store_id']
        # merge stores onto sales
        complete_data = sales.merge(stores, on='store_id')
        # merge items onto the merged stores and saled df
        complete_data = complete_data.merge(items, on='item_id')
        # make to csv
        complete_data.to_csv('complete_data.csv')
    else:
        # read the csv
        complete_data = pd.read_csv('complete_data.csv', index_col=0)
    return complete_data

In [51]:
complete_data = complete_data(cached=False)

In [53]:
complete_data = pd.read_csv('complete_data.csv')
complete_data.sample()

,Unnamed: 0,item_id,sale_amount,sale_date,sale_id,store_id,store_address,store_city,store_state,store_zipcode,item_brand,item_name,item_price,item_upc12,item_upc14
385109,385109,22,126.0,"Sat, 08 Jul 2017 00:00:00 GMT",385110,1,12125 Alamo Ranch Pkwy,San Antonio,TX,78253,Betty Crocker,Betty Crocker Twin Pack Real Potatoes Scallope...,7.31,16000288829,16000288829

6. Acquire the Open Power Systems Data for Germany, which has been rapidly expanding its renewable energy production in recent years. 

The data set includes 
- country-wide totals of electricity consumption
- wind power production
- solar power production for 2006-2017. 

You can get the data here: 
https://raw.githubusercontent.com/jenfly/opsd/master/opsd_germany_daily.csv

In [84]:
from io import StringIO
def pull_csv(url):
    '''
    This function pulls a .csv from a specified URL and returns a dataframe.
    '''
    req = requests.get(url)
    data = StringIO(req.text)
    df = pd.read_csv(data)
    df = pd.DataFrame(df)
    return df

In [91]:
germany_energy = pull_csv("https://raw.githubusercontent.com/jenfly/opsd/master/opsd_germany_daily.csv")        
germany_energy = pd.DataFrame(germany_energy)
germany_energy.to_csv('german_energy_data.csv')

            Date  Consumption     Wind   Solar  Wind+Solar
0     2006-01-01   1069.18400      NaN     NaN         NaN
1     2006-01-02   1380.52100      NaN     NaN         NaN
2     2006-01-03   1442.53300      NaN     NaN         NaN
3     2006-01-04   1457.21700      NaN     NaN         NaN
4     2006-01-05   1477.13100      NaN     NaN         NaN
...          ...          ...      ...     ...         ...
4378  2017-12-27   1263.94091  394.507  16.530     411.037
4379  2017-12-28   1299.86398  506.424  14.162     520.586
4380  2017-12-29   1295.08753  584.277  29.854     614.131
4381  2017-12-30   1215.44897  721.247   7.467     728.714
4382  2017-12-31   1107.11488  721.176  19.980     741.156

[4383 rows x 5 columns]

7. Make sure all the work that you have done above is reproducible. That is, you should put the code above into separate functions in the acquire.py file and be able to re-run the functions and get the same data.

# ✅

In [ ]:
.